<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ross Domke - Resume</title>
  <script src="https://unpkg.com/vue@3.2.22/dist/vue.global.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css" />
</head>

<body onload="draw()">
  <div id="resume">
    <div class="container-fluid px-0">
      <div class="bg-info text-center text-light my-4 py-2">
        <h1 class="display-1 px-5 d-inline-block border border-top-0 border-right-0 border-left-0 m-0 text-uppercase"
          v-if="resume.name">
          {{resume.name}}
        </h1>
        <br />
        <h5 class="lead text-uppercase pt-1">{{resume.title}}</h5>
      </div>
    </div>
    <!-- OBJECTIVE CONTAINER -->
    <div class="container" v-if="resume.objective">
      <h2 class="text-light bg-dark px-2">OBJECTIVE</h2>
      <div class="col-10 mx-auto">
        <p>{{resume.objective}}</p>
      </div>
    </div>
    <!-- EMPLOYMENT CONTAINER -->
    <div class="container" v-if="resume.jobs.length > 0">
      <h2 class="text-light bg-dark px-2">EMPLOYMENT</h2>
      <div class="timeline pl-4 col-12 mt-2">
        <div class="date">
          <br/>
        </div>
        <div class="date" v-for="job in resume.jobs">
          <small class="date-label">
            {{job.startMonth}} {{job.startYear}}<br/>
            <span class="text-secondary">{{job.positionLength}}</span>
          </small>
          <div class="date-text">
            <h3 class="mb-0">{{job.employer}} - {{job.title}}</h3>
            <p class="pl-2 pb-3">{{job.description}}</p>
          </div>
        </div>
      </div>
    </div>
    <!-- SKILLS CONTAINER -->
    <div class="container" v-if="resume.experience.length > 0">
      <h2 class="text-light bg-dark px-2">SKILLS</h2>
      <div class="col-12 d-flex flex-wrap mt-3" v-for="category in resume.experienceCategories">
        <h3 class="w-100 pb-0 mb-0" :style="'border-bottom: solid 3px ' + category.bgColor">{{category.display}}</h3>
        <div class="skill-pill" :style="getExperienceStyle(category, skill)"
          v-for="skill in getExperience(category.key)">
          <b>{{skill.title}}</b><br />
          <small>{{skill.proficiency}}</small>
        </div>
      </div>
    </div>
    <!-- SKILLS CONTAINER -->
    <div class="container" v-if="showGraph">
      <h2 class="text-light bg-dark px-2">SKILLS</h2>
      <div class="col-12">
        <div class="row">
          <div class="col-12 col-md-6 d-flex justify-content-center">
            <canvas id="lang" width="400" height="375"></canvas>
          </div>
          <div class="col-12 col-md-6 d-flex justify-content-center">
            <canvas id="db" width="375" height="375"></canvas>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12 d-flex justify-content-between flex-wrap">
            <h5 class="bg-dark text-light py-2 px-3 d-inline-block m-2 font-weight-bold">SOLID Design
              Principles</h5>
            <h5 class="bg-dark text-light py-2 px-3 d-inline-block m-2 font-weight-bold">Continuous
              Integration</h5>
            <h5 class="bg-dark text-light py-2 px-3 d-inline-block m-2 font-weight-bold">Object Oriented
              Design</h5>
            <h5 class="bg-dark text-light py-2 px-3 d-inline-block m-2 font-weight-bold">GIT & Subversion
            </h5>
            <h5 class="bg-dark text-light py-2 px-3 d-inline-block m-2 font-weight-bold">Mobile First Design
            </h5>
            <h5 class="bg-dark text-light py-2 px-3 d-inline-block m-2 font-weight-bold">IIS Management</h5>
            <h5 class="bg-dark text-light py-2 px-3 d-inline-block m-2 font-weight-bold">Agile</h5>
            <h5 class="bg-dark text-light py-2 px-3 d-inline-block m-2 font-weight-bold">Static websites
            </h5>
            <h5 class="bg-dark text-light py-2 px-3 d-inline-block m-2 font-weight-bold">Automated Unit
              Testing</h5>
            <h5 class="bg-dark text-light py-2 px-3 d-inline-block m-2 font-weight-bold">RESTful APIs</h5>
            <h5 class="bg-dark text-light py-2 px-3 d-inline-block m-2 font-weight-bold">Test Driven
              Development</h5>
            <h5 class="bg-dark text-light py-2 px-3 d-inline-block m-2 font-weight-bold">Bootstrap</h5>
          </div>
        </div>
      </div>
    </div>
    <!-- EDUCATION CONTAINER -->
    <div class="container" v-if="resume.education.length > 0">
      <h2 class="text-light bg-dark page-break mt-5 px-2">EDUCATION</h2>
      <div class="col-12 pl-4">

        <div class="row" v-for="school in resume.education">
          <div class="col-3 d-none d-md-flex justify-content-center">
            <img :alt="school.name + ' logo'" :src="school.logo" class="img-fluid"
              :style="{'max-width': '125px', 'max-height': '125px', background: school.logoBackground || 'transparent' }">
          </div>
          <div class="col-12 col-md-9">
            <h4>{{school.name}}</h4>
            <ul>
              <li v-for="degree in school.degrees">{{degree}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- VOLUNTEER CONTAINER -->
    <div class="container" v-if="resume.volunteer.length > 0">
      <h2 class="text-light bg-dark px-2">VOLUNTEER</h2>
      <div class="col-12 pl-4">
        <div class="row" v-for="service in resume.volunteer">
          <div class="col-3 d-none d-md-flex">
            <div class="align-self-center col-12">
              <img :src="service.logo" class="img-fluid" :style="{background: service.logoBackground || 'transparent'}"
                :alt="service.name + ' Logo'" />
            </div>
          </div>
          <div class="col-12 col-md-9">
            <h4>{{service.name}}</h4>
            <p class="pl-2">
              {{service.description}}
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- CONFERENCES CONTAINER -->
    <div class="container">
      <h2 class="text-light bg-dark px-2">CONFERENCES</h2>
      <div class="col-12 pl-4">
        <div class="row" v-for="conf in resume.conferences">
          <div class="col-3 d-none d-md-flex">
            <div class="align-self-center col-12">
              <img :src="conf.logo" class="img-fluid" :style="{background: conf.logoBackground || 'transparent'}"
                :alt="conf.name + ' Logo'" />
            </div>
          </div>
          <div class="col-12 col-md-9">
            <h4>{{conf.name}}</h4>
            <p class="pl-2">
              {{conf.description}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
    integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
    integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous">
  </script>
  <script>
    const shadeColor = (color, percent) => {

      let {
        r,
        g,
        b
      } = hexToRGB(color);

      r = parseInt(r * (100 + percent) / 100);
      g = parseInt(g * (100 + percent) / 100);
      b = parseInt(b * (100 + percent) / 100);

      r = (r < 255) ? r : 255;
      g = (g < 255) ? g : 255;
      b = (b < 255) ? b : 255;

      const rr = ("00" + r.toString(16)).slice(-2);
      const gg = ("00" + g.toString(16)).slice(-2);
      const bb = ("00" + b.toString(16)).slice(-2);

      return "#" + rr + gg + bb;
    }

    const hexToRGB = (hex) => {
      const result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(hex);
      const resp = result ? {
          r: parseInt(result[1], 16),
          g: parseInt(result[2], 16),
          b: parseInt(result[3], 16),
        } :
        null;
      return resp;
    };

    const textColor = (color) => {
      const rgb = hexToRGB(color);
      if (!rgb) return 'black';
      const {
        r,
        g,
        b
      } = rgb;
      const hsp = Math.sqrt(0.299 * (r * r) + 0.587 * (g * g) + 0.114 * (b * b));
      if (hsp > 127.5) return 'black';
      return 'white';
    };



    const compareProficiency = (a, b) => {
      switch (a) {
        case 'Advanced':
          return (a === b) ? 0 : 1;
        case 'Proficient':
          return (a === b) ? 0 : (b === 'Basic') ? 1 : -1;
        case 'Basic':
          return (a === b) ? 0 : -1;
        default:
          return 0;
      }
    }
    const resume = {
      data() {
        return {
          resume: {
            name: null,
            title: null,
            jobs: [],
            experience: [],
            education: [],
            volunteer: [],
            conferences: [],
            experienceCategories: [],
          },
          showGraph: false,
        };
      },

      mounted() {
        this.getData();
      },
      computed: {

      },
      methods: {
        getExperienceStyle(category, skill) {
          var clr = category.bgColor;
          switch (skill.proficiency) {
            case 'Basic':
              clr = shadeColor(clr, 60);
              break;
            case 'Proficient':
              clr = shadeColor(clr, 20);
              break;
            case 'Advanced':
              clr = shadeColor(clr, -5);
              break;
            default:
          }




          return {
            backgroundColor: clr,
            borderColor: clr,
            color: textColor(clr),
          }
        },
        getExperience(category) {
          return this.resume.experience.filter(exp => exp.category === category).sort((a, b) => {
            let prof = compareProficiency(b.proficiency, a.proficiency);
            if (prof === 0) {
              var letterA = a.title.charAt(0);
              var letterB = b.title.charAt(0);
              prof = (letterA === letterB) ? 0 : (letterA > letterB) ? 1 : -1;
            }
            return prof;
          });
        },
        getData() {
          fetch("./data.json")
            .then(response => {
              return response.json();
            })
            .then(data => {
              // this.jobs = data.jobs;
              // this.experience = data.experience;
              // this.education = data.education;
              // this.conferences = data.conferences;
              // this.volunteer = data.volunteer;
              // this.experienceCategories = data.experienceCategories
              this.resume = data;
            });
        },
      },
    };
    Vue.createApp(resume).mount('#resume');

    function draw() {
      return;
      drawSkillCircle({
        canvasId: 'lang',
        baseRadius: 90,
        lineWidth: 18,
        lineDistance: 100,
        color: "#2c3e50",
        maxLevel: 100,
        title: "PROGRAMMING",
        fontFam: "Arial",
        titleFontSize: 22,

        fontColor: "white",
        rings: [{
            color: "#2ecc71",
            text: "C# ASP.Net MVC",
            level: 90
          },
          {
            color: "#3498db",
            text: "JS, CSS, HTML",
            level: 85
          },
          {
            color: "#f1c40f",
            text: "SQL",
            level: 70
          },
          {
            color: "#e67e22",
            text: "PHP",
            level: 65
          },
          {
            color: "#e74c3c",
            text: "VB, C++, C",
            level: 40
          }
        ]
      });
      drawSkillCircle({
        canvasId: "db",
        baseRadius: 70,
        lineWidth: 18,
        lineDistance: 100,
        color: "#2c3e50",
        maxLevel: 100,
        title: "DATABASE",
        fontFam: "Arial",
        titleFontSize: 22,
        fontColor: "white",
        rings: [{
            color: "#2ecc71",
            text: "MS SQL",
            level: 85
          },
          {
            color: "#3498db",
            text: "Oracle",
            level: 80
          },
          {
            color: "#f1c40f",
            text: "MySQL",
            level: 70
          },
          {
            color: "#e74c3c",
            text: "Mongo",
            level: 30
          }
        ]
      });
    }

    function drawSkillCircle(circle) {
      var canvas = document.getElementById(circle.canvasId);
      if (canvas.getContext) {
        var ctx = canvas.getContext("2d");
        var centerX = (canvas.width / 2) - 15;
        var centerY = canvas.height / 2;
        ctx.beginPath();
        ctx.arc(centerX, centerY, circle.baseRadius, 0, 2 * Math.PI, false);
        ctx.fillStyle = circle.color;
        ctx.fill();
        ctx.lineWidth = circle.lineWidth;
        ctx.font = circle.titleFontSize + 'px ' + circle.fontFam;
        ctx.fillStyle = circle.fontColor
        ctx.textAlign = "center";
        ctx.textBaseline = "middle";
        ctx.fillText(circle.title, centerX, centerY);
        ctx.textAlign = "right";
        ctx.font = (circle.lineWidth - 1) + 'px ' + circle.fontFam;
        for (var i = 0; i < circle.rings.length; i++) {

          var theta = 2 * (circle.rings[i].level / circle.maxLevel),
            radius = circle.baseRadius + (i + .5) * circle.lineWidth;

          ctx.strokeStyle = circle.rings[i].color;
          ctx.beginPath();

          ctx.arc(centerX, centerY, radius, (2 - (11 / 6)) * Math.PI, theta * Math.PI, false);
          ctx.stroke();

          ctx.beginPath();
          var x1 = centerX + radius * Math.cos((2 - (11 / 6)) * Math.PI) - 1,
            y1 = centerY + radius * Math.sin((2 - (11 / 6)) * Math.PI) + 1;
          var x2 = x1 + 55,
            y2 = y1 - 95;
          ctx.moveTo(x1, y1);
          ctx.lineTo(x2, y2);


          //console.log(x1, y1, x2, y2);
          ctx.stroke();
          ctx.save();
          ctx.translate(x2, y2 + 1);
          // ctx.font=circle.font;
          ctx.rotate(-Math.PI / 3);
          ctx.fillText(circle.rings[i].text, 0, 0);
          ctx.restore();
        }
      }

    }
  </script>
  <script>
    document.write('<script src="http://' + (location.host || '${1:localhost}').split(':')[0] +
      ':${2:35729}/livereload.js?snipver=1"></' + 'script>')
  </script>
</body>

</html>